{% extends 'base.html' %}
{% block submenu_add_product %}active{% endblock %}
{% block menu_product %}active{% endblock %}
{% load static %}


{% block content %}
<style>
    
</style>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body">
                <form class="form-horizontal add-ledger-form addsupplierform" action="{% url 'product:addsupplier' %}" method="post" autocomplete="off">
                    <div class="form-group">
                            {% csrf_token %}
                            <label>
                                <strong>الاسم</strong>
                            </label>
                            <input type="text" class="form-control customer" name="name" >
                            <br>
                            <label>
                                <strong>معلومات</strong>
                            </label>
                            <textarea type="text" class="form-control customer_phone" name="details" ></textarea>
                            <br>
                            
                            <br>
                            
                            <br>
                            <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                            <button type="button" id="save" class="btn btn-primary ledger-submit-btn" style="float: right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">اضافة </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="rounded p-2 bg-white shadow">
            <div class="alert alert-danger text-center item-error" style="display: none;" role="alert">
                تحقق من ملئ جميع الخانات
                </div>
                <div class="rtl">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        اضافة مورد +
                    </button>
                    <div class="mt-3 mb-3 col-3">
                        <span class="item-error" style="color: red; display: none">
                            املئ جميع الخانات
                        </span>
                        <input type="text" class="form-control" id="invoice_number" placeholder="رقم الفاتورة">
                        <div class="mt-3">
                            <select name="supplier" class="form-select select2">
                                <option value="0">
                                    المورد
                                </option>
                                {% for i in suppliers %}
                                <option value="{{i.id}}">
                                    {{i.name}}
                                </option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="">
                        <small class="rtl">
                            اختر المنتج
                        </small>
                        <div class="itemsselectholder mb-3"></div>
                        <!-- button for addsupplier modal -->
                        
                
                    </div>
                </div>
                <table class="table table-bordered supplytable">
                    <thead>
                    <tr class="">
                        <th style="width: 60%;">المنتج</th>
                        <th>المخزون</th>
                        <th>ثمن الوحدة</th>
                        <th>الكمية</th>
                        <th>المجموع</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="itemsbon">
                    
                    </tbody>
                </table>
                <hr>
                <div class="d-flex justify-content-between">
                    <button id="addsuplly" class="btn btn-success">
                        حفظ
                    </button>
                    <span id="grandTotal" style="color:red">0</span>
                
                </div>
            
                <table class="table table-bordered">
                    <thead>
                    <tbody>
                    <tr hidden>
                        <td></td>
                        <td></td>
                        <td class="text-right"><strong>Sub Total</strong></td>
                        <td><span id="subtotal">0.00</span></td>
                    </tr>
                    <tr hidden>
                        <td></td>
                        <td></td>
                        <td class="text-right"><strong>Discount</strong></td>
                        <td><input autocomplete="off" class="form-control" id="discount" value="0" type="text"></td>
                    </tr>
                    <tr hidden>
                        <td></td>
                        <td></td>
                        <td class="text-right"><strong>Shipping</strong></td>
                        <td><input autocomplete="off" class="form-control" id="shipping" value="0" type="text"></td>
                    </tr>
                    
                    
                    </tbody>
                </table>
        </div>
    </div>

    
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.invoice.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scannerdetection.js' %}"></script>
    <script>
        function showerror(m){
            $('.item-error').show().text(m)
        }
        $('.loading').removeClass('d-none').addClass('d-flex');
        
        $('.addsupplierform').on('submit', function (e) {
            $('product-sub-btn').attr('disabled', true)
            e.preventDefault()
            $.ajax({
                url: "{% url 'product:addsupplier' %}",
                type: "POST",
                data: {
                    'name': $('[name="name"]').val(),
                    'details': $('[name="details"]').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    
                    $('.addsupplierform').trigger('reset')
                    $('#addsuppliermodal').modal('hide')
                    alert(data.data)
                    // refresh
                    location.reload()
                    
                },
            })
        })


    
    $(document).ready(function () {
        var item_list = '<select id="all-items" class="form-select select2"><option value="0">---</option>';
        // create select from pdct, its a registered
        $.get('/sales/product/items/details/', function (data, status) {
            $.each(data.products, function(key, result){
                item_list += '<option data-price="' + result.consumer_price + '" data-stock= "' + result.stock +'" data-prachat="'+result.pr_achat+'"data-id= "' + result.id +'">' + result.name + '</option>'
            });
            item_list += '</select>';
            

            // Uncomment after re using that
            // jQuery(".item-row:last").after('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn d-flex"><input type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" type="text">'+ item_list +'<a class=' + $.opt.delete.substring(1) + ' href="javascript:;" title="Remove row">X</a></div></td><td><input class="form-control price" placeholder="Price" type="text"> </td><td><input class="form-control qty" placeholder="Quantity" value="1" type="text"></td>'+ percent_discount +'<td><span class="total">0.00</span></td></tr>');
            $('.itemsselectholder').append(item_list);
            $('.select2').select2();
            $('.loading').removeClass('d-flex').addClass('d-none');
            
        });
        
        

        
        $(function () {
            

            

            $('#all-items').live('change', function(){
                if ($(this).val()==0){
                    return
                }
                var item=$(this).find(':selected').val()
                // var prachat=$(this).find(':selected').data('prachat')
                var stock = $(this).find(':selected').data('stock')
                var id = $(this).find(':selected').data('id')
                $('.itemsbon').append('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn d-flex justify-content-between"><div class="invoice-item" id="invoice-item">'+item+'</div></div></td><td class="stock">'+stock+'</td><td><input class="form-control price" placeholder="Price" type="number" step=0.01> </td><td><input class="form-control qty" placeholder="Quantity" type="number" step=0.01></td><td><span class="total">0.00</span></td><input type="hidden" class="productid" value='+id+'><td><i class="btn btn-danger delete" title="Supprimer">X</i></td></tr>');
                $('.delete').on('click', function () {
                    $(this).closest('tr').remove();
                });
                jQuery().invoice().init
            });
            
            
            $('#addsuplly').live('click', function () {
                if ($('#item-name').hasClass('item-name') == false || $('[name=supplier]').val()==0 || $('#invoice_number').val()=='') {
                    showerror();
                    return;
                }
                if (($.inArray(true, $('.price').map((t, i)=>$(i).val()=="")) !== -1)||($.inArray(true, $('.qty').map((t, i)=>$(i).val()=="")) !== -1)) {

                    showerror();
                    $('.price').css('border-color', 'red');
                    $('.qty').css('border-color', 'red');
                    return
                }
                else {
                $('.item-error').hide();
                $('.price').css('border', 'none');
                }
                
                var items = [];
                for (var i=0; i<$('.item-row').length; i++) {
                    var products = {};
                    products['name'] = $($('.item-row')[i]).find('#invoice-item').text();
                    products['item_id'] = $($('.item-row')[i]).find('.productid').val();
                    products['price'] = $($('.item-row')[i]).find('.price').val();
                    products['qty'] = $($('.item-row')[i]).find('.qty').val();
                    
                    items.push(products);
                }
                console.log('items', items)
                const itemIds = items.map(item => item.item_id);
                const uniqueItemIds = Array.from(new Set(itemIds));

                if (itemIds.length > uniqueItemIds.length) {
                showerror("منتوجات متكررة");
                } else {
                
                $.post("{% url 'product:addsupply' %}", {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        items: JSON.stringify(items),
                        'supplier': $('[name="supplier"]').val(),
                        'total': $('#grandTotal').text(),
                        'nbon':$('#invoice_number').val(),
                    }, function (result, status) {
                        //refresh the page
                        location.reload();
                        alert('تم اضافة المنتوجات بنجاح')
                    }
                ).fail(function (xhr, status, errors) {
                    alert('خطأ في البيانات المدخلة، يرجى التأكد من صحة البيانات والمحاولة مرة أخرى');
                });
                }
            });

            
        });
        
    });
    </script>
    <script>
        $('.select2').select2();
        $('#create-invoice').on('click', function() {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function() {
                $this.button('reset');
            }, 1000);
        });

        $('.ledger-submit-btn').on ('click', function () {
            $(this).addClass('disabled');
            $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Loading...');
            var error = false;

            if ($('.customer').val() ==""){
                $('.customer-error').show();
                error= true;
            }
            else {
                $('.customer-error').hide();
                error=false;
            }
            
            if (error == true ) {
                $(this).html('اضافة');
                $(this).removeClass('disabled');
                return;
            }
            if (error == false) {
                $.ajax({
                    url: "{% url 'product:addsupplier' %}",
                    type: "POST",
                    data: {
                        'name': $('[name="name"]').val(),
                        'details': $('[name="details"]').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        
                        $('.addsupplierform').trigger('reset')
                        $('#exampleModal').modal('hide')
                        alert(data.data)
                        // refresh
                        location.reload()
                        
                    },
                })
            }
    });
    </script>

{%endblock%}