{% extends 'base.html' %}

{% load static %}

{% block menu_sales %}active{% endblock %}
{% block submenu_create_bill %}active{% endblock %}
{% block content %}
	<style>
		.item-row th {
			background: #eee;
		}

		.delete-btn {
			position: relative;
		}

		
	</style>

<!-- add client modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-body">
            <form class="form-horizontal add-ledger-form" action="{% url 'ledger:add_new_ledger' %}" method="post" autocomplete="off">
                <div class="form-group">
                        {% csrf_token %}
                        <span class="text-danger customererror" style="display: none;">
                            املئ الخانات
                        </span>
                        <br>
                        <label>
                            <strong>الاسم</strong>
                          </label>
                          <span class="customer-existing" style="color: red; display: none">Client exist deja</span>
                          <span class="customer-error" style="color: red; display: none">Obligatoire</span>
                          <input type="text" class="form-control customer" name="customer_name" >
                          <br>
                          <label>
                            <strong>الهاتف</strong>
                          </label>
                          <input type="text" class="form-control customer_phone" name="customer_phone" >
                          <label>
                            <strong>ICE</strong>
                          </label>
                          <input type="text" class="form-control customer_ice" name="address" >
                          <br>
                          <button type="button" class="btn btn-primary w-100 addclientbtn">
                            ارسال
                          </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
</div>
<div class="alert alert-danger text-center item-error" style="display: none;" role="alert">
</div>


<div class="row mb-3 position-relative">


<!-- bon billing -->
<div class="col-lg-3 col-6">

    <div class="shadow bg-white p-2 rounded position-fixed">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tbody>
                <tr hidden>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Sub Total</strong></td>
                    <td><span id="subtotal">0.00</span></td>
                </tr>
                <tr hidden>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Discount</strong></td>
                    <td><input autocomplete="off" class="form-control" id="discount" value="0" type="text"></td>
                </tr>
                <tr hidden>
                    <td></td>
                    <td></td>
                    <td class="text-right"><strong>Shipping</strong></td>
                    <td><input autocomplete="off" class="form-control" id="shipping" value="0" type="text"></td>
                </tr>
                <tr>
                    <!-- <td><strong>Total Qty: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span></td> -->
                    
                    <td><span id="grandTotal" style="color:red">0</span></td>
                    <td class="text-right"><strong>المجموع</strong></td>
                </tr>
                <tr>
                    <td><input autocomplete="off" class="form-control" id="paidAmount" value="0" type="number"></td>
                    <td class="text-right"><strong>خلص</strong></td>
                </tr>
                <tr>
                    <td><span id="remainingAmount">0</span></td>
                    <td class="text-right"><strong>الباقي</strong></td>
                </tr>
                
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary paid">
                خلص
            </button>
            <a style="width: 40%; font-size: large" id="create-invoice" href="javascript:;" title="Create Invoice" class="btn btn-primary pull-right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">حفظ</a>
        </div>
    </div>
</div>

<!-- bon articles -->
<div class="col-lg-9 col-6">

    <div class="shadow text-center rounded p-2 bg-white">
        <div class="">
            <button type="button" class="btn btn-success addoneproduct" data-bs-toggle="modal" data-bs-target="#exampleModal">
                اضافة +
            </button>
            <br>
            <strong>
                الزبون
            </strong> 
            <div class="existing-customer">
                
                <select class="form-selsect select2 customer " name="customer" id="customer">
                    <option value="0">----</option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer.customer_name }} - {{ customer.customer_phone }}</option>
                    {% endfor %}
                </select><br>
                <!-- <a class="new-customer" style="cursor: pointer;">Nouveau client</a><br> -->
                <br>
            </div>
        </div>
        <div class="rtl mb-3 text-end">
            <small class="">
                اختر المنتج
            </small>
            <div class="itemsselectholder col-6"></div>
        </div>
        <div id="item-data-sc" class="table-responsive item-data-sc" style="height: 500px; overflow: scroll;">
            <table class="table table-bordered">
                <thead>
                <tr class="">
                    <th style="width: 45%;">المنتج</th>
                    <th>المخزون</th>
                    <th>ثمن الشراء</th>
                    <th>ثمن البيع</th>
                    <th>الكمية</th>
                    <th>المجموع</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="itemsbon">
                
                </tbody>
            </table>
            

        </div>
    </div>
</div>



</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.invoice.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scannerdetection.js' %}"></script>
    <script>
        
    $('.loading').removeClass('d-none').addClass('d-flex');
    $(document).ready(function () {
        function showerror(m){
            $('.item-error').show().text(m)
        }
        // add client
        $('.addclientbtn').on('click', ()=>{
            if($('.customer').val() == ''|| $('.customer_phone').val()==''){
                console.log('error')
                $('.customererror').show();
                return false;
            }else{
                $('.addclientbtn').addClass('disabled')
                $.post(
                    '{% url "product:addclient" %}',
                    {
                        'name':$('.customer').val(),
                        'phone':$('.customer_phone').val(),
                        'ice':$('.customer_ice').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    function(data){
                        location.reload();
                    }
                )
            }
        })

        var item_list = '<select id="all-items" class="form-select select2"><option value="0">---</option>';
        // create select from pdct, its a registered
        $.get('/sales/product/items/details/', function (data, status) {
            $.each(data.products, function(key, result){
                item_list += '<option data-price="' + result.consumer_price + '" data-stock= "' + result.stock +'" data-prachat="'+result.pr_achat+'"data-id= "' + result.id +'">' + result.name + '</option>'
            });
            item_list += '</select>';
            

            
            $('.itemsselectholder').append(item_list);
            $('.select2').select2();
            $('.loading').removeClass('d-flex').addClass('d-none');
            
        });
        
        


        $('.paid').on('click', ()=>{
            let total=$('#grandTotal').text()
            console.log(total)
            // assign total to received
            $('#paidAmount').val(total)
        })

        $(function () {
            

            $('#all-items').live('change', function(){
                if ($(this).val()==0){
                    return
                }
                var item=$(this).find(':selected').val()
                var prachat=$(this).find(':selected').data('prachat')
                var stock = $(this).find(':selected').data('stock')
                var id = $(this).find(':selected').data('id')
                var price = $(this).find(':selected').data('price')
                $('.itemsbon').append('<tr class="item-row"><td id="item-name" class="item-name"><small class="invoice-item" id="invoice-item">'+item+'</td><td class="stock">'+stock+'</td><td>'+prachat+'</td><td><input value='+price+' class="form-control price" placeholder="Price" type="number"> </td><td><input class="form-control qty" placeholder="Quantity" type="number"></td><td><span class="total">'+price*1+'</span></td><input type="hidden" class="productid" value='+id+'><td><i class="btn btn-danger delete" title="Supprimer">X</i></td></tr>');
                $('.delete').on('click', function () {
                    $(this).closest('tr').remove();
                });
                jQuery().invoice().init
            });
            
            
            $('#create-invoice').live('click', function () {
                if ($('#item-name').hasClass('item-name') == false || $('select[name="customer"]').val()==0) {
                    showerror('املئ خانة الزبون او المنتجات');
                    return;
                }
                
                if (($.inArray(true, $('.price').map((t, i)=>$(i).val()=="")) !== -1)||($.inArray(true, $('.qty').map((t, i)=>$(i).val()=="")) !== -1)) {

                    showerror('املئ خانة الثمن');
                    $('.price').css('border-color', 'red');
                    $('.qty').css('border-color', 'red');
                    return
                }
                else {
                    $('.item-error').hide();
                    $('.price').css('border', 'none');
                }
                var customer_name = $('.customer_name').val();
                var customer_phone = $('.customer_phone').val();
                var items = [];
                var total_quantity = 0;
                for (var i=0; i<$('.item-row').length; i++) {
                    var products = {};                    
                    products['item_id'] = $($('.item-row')[i]).find('.productid').val();
                    products['price'] = $($('.item-row')[i]).find('.price').val();
                    products['qty'] = $($('.item-row')[i]).find('.qty').val();
                    products['total'] = $($('.item-row')[i]).find('.total').text();
                    
                    items.push(products);
                    total_quantity += Number(products['qty']);
                }
                var sub_total = $('#subtotal').text();
                var discount = $('#discount').val();
                var shipping = $('#shipping').val();
                var grand_total = $('#grandTotal').text();
                var remaining_amount = $('#remainingAmount').text();
                var paid_amount = $('#paidAmount').val();
                var cash_payment = $('#cash_payment').val();
                var returned_cash = $('#returned_cash').text();
                var totalQty = total_quantity;

                var customer_value = $('.customer').val();
                var customer_id = $('select[name="customer"]').val();

                const itemIds = items.map(item => item.item_id);
                const uniqueItemIds = Array.from(new Set(itemIds));
                console.log(items)
                if (itemIds.length > uniqueItemIds.length) {
                alert("منتوجات متكررة");
                } else {
                console.log("sending");
                $.post("{% url 'sales:generate_invoice_api' %}", {
                        customer_id: customer_id,
                        customer_name: customer_name,
                        customer_phone: customer_phone,
                        sub_total: sub_total,
                        discount: discount,
                        shipping: shipping,
                        grand_total: grand_total,
                        totalQty: totalQty,
                        remaining_amount: remaining_amount,
                        paid_amount: paid_amount,
                        cash_payment: cash_payment,
                        returned_cash: returned_cash,
                        items: JSON.stringify(items)
                    }, function (result, status) {
                        window.location.href = `/sales/invoice/${result.invoice_id}/detail`;
                    }
                ).fail(function (xhr, status, errors) {
                    alert('خطأ في البيانات المدخلة، يرجى التأكد من صحة البيانات والمحاولة مرة أخرى');
                });
                }
            });

            $('.new-customer').on('click', function () {
                $('.existing-customer').hide();
                $('.new-customer-form').show();
                $('.customer').val('');
            });

            $('.added-customer').on('click', function () {
                $('.existing-customer').show();
                $('.new-customer-form').hide();
                $('.customer_name').val('');
                $('.customer_phone').val('');
            });

        });
        $('.btn-primary').on('click', function () {
            $('.item-error').hide();
        });
    });
    </script>
    <script>
        $('#create-invoice').on('click', function() {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function() {
                $this.button('reset');
            }, 1000);
        });

        $('.form-control').click (function () {
            $('.list-error').hide();
            checkDec(this);

        });

        function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }
    </script>
<script>
$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>
{% endblock %}