{% extends 'base.html' %}

{% load static %}

{% block menu_sales %}active{% endblock %}
{% block submenu_create_bill %}active{% endblock %}
{% block content %}
	<style>
		.item-row th {
			background: #eee;
		}

		.delete-btn {
			position: relative;
		}

		.delete {
			display: block;
			color: #000;
			text-decoration: none;
			position: absolute;
			background: #EEEEEE;
			font-weight: bold;
			padding: 0px 3px;
			border: 1px solid;
			top: -6px;
			left: -6px;
			font-family: Verdana;
			font-size: 12px;
		}
	</style>

	<div class="col-lg-12 col-md-12 col-sm-12">

        <!-- <a href="{% url 'sales:invoice_list' %}"><button type="button" id="invoice" class="btn btn-primary fa fa-arrow-left"  id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing"></button></a> -->
		<div class="content-panel p-2" style="padding: 5px">
            <span class="item-error" style="color: red; display: none">Client ou produits ERROR</span>
			<div class="row" style="font-size: large">
				<div class="col-xs-12 col-md-12">
					<div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12">
					<hr>
					<div class="row">
                        <!-- bon articles -->
                        <div class="col-md-7">
                            <div><strong>Client:</strong> </div>
							<div class="existing-customer">
                                <span class="customererror" style="color: red; display: none">N'existe pas, ajouter le</span>
                                <input autocomplete="off" class="form-control customer" id="customer-id" list="customer-list" >
                                <datalist id="customer-list">
                                    {% for customer in customers %}
                                        <option data-id="{{ customer.id }}" value="{{ customer.customer_name }}">{{ customer.customer_phone }}</option>
                                    {% endfor %}
                                </datalist><br>
                                <!-- <a class="new-customer" style="cursor: pointer;">Nouveau client</a><br> -->
                                <br>
                            </div>
                            <div id="new-customer-form" class="new-customer-form" style="display: none">
                                <span class="already-error" style="color: red; display: none">This Customer Already exist</span>
                                <input autocomplete="off" type="text" class="form-control customer_name" name="customer_name" placeholder="Customer Name"><br>
                                <input autocomplete="off" type="number" class="form-control customer_phone" name="customer_phone" placeholder="Customer Phone"><br>
                                <a class="added-customer" style="cursor: pointer;">Existing Customer</a><br><br>
                            </div>
                            <div id="item-data-sc" class="table-responsive item-data-sc" style="height: 500px; overflow: scroll;">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="item-row">
                                        <th style="width: 45%;">Article</th>
                                        <th>Stock</th>
                                        <th>Prix Achat</th>
                                        <th>Prix Vent</th>
                                        <th>Qté</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody class="itemsbon">
                                    <tr id="hiderow">
                                        <td colspan="5">
                                            <a id="addRow" href="javascript:;" title="Add Item" class="btn btn-primary">+</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- bon details -->
						<div class="col-md-5">
							

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tbody>
                                    <tr hidden>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Sub Total</strong></td>
                                        <td><span id="subtotal">0.00</span></td>
                                    </tr>
                                    <tr hidden>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Discount</strong></td>
                                        <td><input autocomplete="off" class="form-control" id="discount" value="0" type="text"></td>
                                    </tr>
                                    <tr hidden>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Shipping</strong></td>
                                        <td><input autocomplete="off" class="form-control" id="shipping" value="0" type="text"></td>
                                    </tr>
                                    
                                    <tr>
                                        <button class="btn btn-primary paid">
                                            Payé
                                        </button>
                                    </tr>
                                    <tr>
                                        <td><strong>Total Qty: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span></td>
                                        <td></td>
                                        <td class="text-right"><strong>Grand Total</strong></td>
                                        <td><span id="grandTotal" style="color:red">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Mtt payé</strong></td>
                                        <td><input autocomplete="off" class="form-control" id="paidAmount" value="0" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Rest</strong></td>
                                        <td><span id="remainingAmount">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"></td>
                                    </tr>
                                    
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <a style="width: 100%; font-size: large" id="create-invoice" href="javascript:;" title="Create Invoice" class="btn btn-primary pull-right" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Enregistrer</a>
                            </div>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.invoice.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scannerdetection.js' %}"></script>
    <script>


        var item_list = '<datalist id="all-items">';
            {% for i in pdcts%}
            item_list += '<option data-value="{{i.id}}" data-price="{{i.price}}" data-stock= "{{i.product_available_items}}" value="{{i.name}}" data-prachat={{i.pr_achat}}></option>'
            {% endfor %}
            item_list += '</datalist>';
            for (let i=0; i<=15; i++){

                $('.itemsbon').prepend('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn"><input type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" type="text">'+ item_list +'</div></td><td class="stock">0</td><td class="prch"></td><td><input class="form-control price" placeholder="Price" type="number"> </td><td><input class="form-control qty" placeholder="Quantity" value="1" type="number"></td><td><span class="total">0.00</span></td></tr>');
            }
        
        // $.get('/sales/product/items/details/', function (data, status) {
        //     $.each(data.products, function(key, result){
        //         item_list += '<option data-value="' + result.id + '" data-price="' + result.consumer_price + '" data-stock= "' + result.stock +'" value="' + result.name + '">' + result.name + '</option>'
        //     });
        //     item_list += '</datalist>';
            
        //     // Uncomment after re using that
        //     // jQuery(".item-row:last").after('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn"><input type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" type="text">'+ item_list +'<a class=' + $.opt.delete.substring(1) + ' href="javascript:;" title="Remove row">X</a></div></td><td><input class="form-control price" placeholder="Price" type="text"> </td><td><input class="form-control qty" placeholder="Quantity" value="1" type="text"></td>'+ percent_discount +'<td><span class="total">0.00</span></td></tr>');
        //     for (let i=0; i<=15; i++){

        //         $('.itemsbon').prepend('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn"><input type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" type="text">'+ item_list +'<a class=' + $.opt.delete.substring(1) + ' href="javascript:;" title="Remove row">X</a></div></td><td class="stock">0</td><td><input class="form-control price" placeholder="Price" type="text"> </td><td><input class="form-control qty" placeholder="Quantity" value="1" type="text"></td><td><span class="total">0.00</span></td></tr>');
        //     }
        //     if (jQuery($.opt.delete).length > 0) {
        //         jQuery($.opt.delete).show();
        //     }
        // });
        
    

        $('.paid').on('click', ()=>{
            let total=$('#grandTotal').text()
            console.log(total)
            // assign total to received
            $('#paidAmount').val(total)
        })
        
        jQuery(document).ready(function(){
            jQuery().invoice({
                addRow : "#addRow",
                delete : ".delete",
                parentClass : ".item-row",

                price : ".price",
                qty : ".qty",
                total : ".total",
                totalQty: "#totalQty",

                subtotal : "#subtotal",
                discount: "#discount",
                shipping : "#shipping",
                grandTotal : "#grandTotal",

                remainingAmount: '#remainingAmount',
                paidAmount: '#paidAmount',

                cashPayment: '#cash_payment',
                returnedCash: '#returned_cash'
            });

        });
        $(function () {
            

            $(document).scannerDetection({

                timeBeforeScanTest: 200, // wait for the next character for upto 200ms
                avgTimeByChar: 40, // it's not a barcode if a character takes longer than 100ms
                endChar: [13],
                onComplete: function(barcode, qty){
                    $.post("{% url 'sales:product_details_api' %}", {
                        code: barcode
                    }, function (result, status) {
                        {# Create Item list by scanning the bar code #}
                        $(".item-row:last").after('<tr class="item-row"><td id="item-name" class="item-name"><div class="delete-btn"><input autocomplete="off" type="text" class="form-control invoice-item" id="invoice-item" name="all-items" list="all-items" placeholder="Select Item" type="text" value="' + result.product_name + '"><a class=' + $.opt.delete.substring(1) + ' href="javascript:;" title="Remove row">X</a></div></td><td>------' + result.stock + '</td><td><input autocomplete="off" class="form-control price" placeholder="Price" type="text" value="' + result.product_price + '"> </td><td><input autocomplete="off" class="form-control qty" placeholder="Quantity" value="1" type="text"></td><td><span class="total">' + result.product_price + '</span></td></tr>');
                        $('.item-row:last').click();

                        {# Auto Scoll at the bottom of item list #}
                        var elem = document.getElementById('item-data-sc');
                        elem.scrollTop = elem.scrollHeight;

                        return 1;

                    }).fail(function (xhr, status, errors) {
                        alert('!!');

                    });
                }
            });


            $('.invoice-item').live('focusout', function(){
                console.log('focusout')
                var item_price = $(this).parent().parent().find("option[value='" + $(this).val() + "']").data('price');
                $(this).parent().parent().parent().find('.price').val(item_price);

                var stock = $(this).parent().parent().find("option[value='" + $(this).val() + "']").data('stock')
                $(this).parent().parent().parent().find('.stock').html(stock);
                var prch = $(this).parent().parent().find("option[value='" + $(this).val() + "']").data('prachat')
                $(this).parent().parent().parent().find('.prch').html(prch);
            });
            $('#create-invoice').live('click', function () {
                if ($('#item-name').hasClass('item-name') == false || $('#customer-id').val()=='') {
                    $('.item-error').show();
                    return;
                }
                var error = false;
                if ($('.customer').is(":visible") == true)
                {
                    // if ($('.customer').val() =="")
                    // {
                    //     $('.customer').css('border-color', 'red');
                    //     error = true;
                    // } else {
                    //     $('.customer').css('border', 'none');
                    // }
                    var existing_customers_id = [];
                    {% for customer in customers %}
                        existing_customers_id.push({{ customer.id }});
                    {% endfor %}

                    var cus_val = $('.customer').val();
                    var cus_id = $('#customer-list [value="' + cus_val + '"]').data('id');
                    // if(jQuery.inArray( cus_id, existing_customers_id ) == -1) {
                    //     $('.customer-error').show();
                    //     $('.customer').css('border-color', 'red');
                    //     return;
                    // } else {
                    //     $('.customer-error').hide();
                    // }
                }
                if ($('.customer_name').is(":visible") == true) {
                    if ($('.customer_name').val() == "") {
                        $('.customer_name').css('border-color', 'red');
                        error = true;
                    }
                    else {
                        $('.customer_name').css('border', 'none');
                    }
                    if ($('.customer_phone').val() == "") {
                        $('.customer_phone').css('border-color', 'red');
                    }
                    else {
                        $('.customer_phone').css('border', 'none');
                    }
                    {% for customer in customers %}
                        if ($('.customer_name').val() == '{{ customer.customer_name }}' && $('.customer_phone').val()== '{{ customer.customer_phone }}') {
                            $('.already-error').show();
                            return;
                        }
                    {% endfor %}
                }
                
                
                if       ($('.invoice-item').val() == ""){
                    $(".item-error").show();
                    error=true;
                    $('.invoice-item').css('border-color', 'red');
                }
                else {
                    $('.invoice-item').css('border' ,'none');

                }
                if ($('.price').val()=="") {

                    $('.item-error').show();
                    $('.price').css('border-color', 'red');
                    error=true;
                }
                else {
                    $('.item-error').hide();
                    $('.price').css('border', 'none');
                }
                if (error == true){
                    return;
                }
                var customer_name = $('.customer_name').val();
                var customer_phone = $('.customer_phone').val();
                var items = [];
                var total_quantity = 0;
                for (var i=1; i<$('.item-row').length; i+=1) {
                    var products = {};
                    products['item_name'] = $('.item-row').eq(i).find('#invoice-item').val();
                    products['price'] = $('.item-row').eq(i).find('.price').val();
                    products['qty'] = $('.item-row').eq(i).find('.qty').val();
                    products['perdiscount'] = $('.item-row').eq(i).find('.perdiscount').val();
                    products['total'] = $('.item-row').eq(i).find('.total').text();
                    if ($('.item-row').eq(i).find('#invoice-item').val() != "") {
                        items.push(products);
                        total_quantity += Number(products['qty']);
                    }
                }
                var sub_total = $('#subtotal').text();
                var discount = $('#discount').val();
                var shipping = $('#shipping').val();
                var grand_total = $('#grandTotal').text();
                var remaining_amount = $('#remainingAmount').text();
                var paid_amount = $('#paidAmount').val();
                var cash_payment = $('#cash_payment').val();
                var returned_cash = $('#returned_cash').text();
                var totalQty = total_quantity;

                var customer_value = $('.customer').val();
                var customer_id = $('#customer-list [value="' + customer_value + '"]').data('id');

                $.post("{% url 'sales:generate_invoice_api' %}", {
                        customer_id: customer_id,
                        customer_name: customer_name,
                        customer_phone: customer_phone,
                        sub_total: sub_total,
                        discount: discount,
                        shipping: shipping,
                        grand_total: grand_total,
                        totalQty: totalQty,
                        remaining_amount: remaining_amount,
                        paid_amount: paid_amount,
                        cash_payment: cash_payment,
                        returned_cash: returned_cash,
                        items: JSON.stringify(items)
                    }, function (result, status) {
                        window.location.href = '/sales/invoice/'+ result.invoice_id +/detail/;
                    }
                ).fail(function (xhr, status, errors) {
                    alert('Something is wrong! please check all fields and try again');

                });
            });

            $('.new-customer').on('click', function () {
                $('.existing-customer').hide();
                $('.new-customer-form').show();
                $('.customer').val('');
            });

            $('.added-customer').on('click', function () {
                $('.existing-customer').show();
                $('.new-customer-form').hide();
                $('.customer_name').val('');
                $('.customer_phone').val('');
            });

        });
        $('.btn-primary').on('click', function () {
            $('.item-error').hide();
        });

    </script>
    <script>
        $('#create-invoice').on('click', function() {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function() {
                $this.button('reset');
            }, 1000);
        });

        $('.form-control').click (function () {
            $('.list-error').hide();
            checkDec(this);

        });

        function checkDec(el){
            var ex = /^[0-9]+\.?[0-9]*$/;
            if(ex.test(el.value)==false){
                el.value = el.value.substring(0,el.value.length - 1);
            }
        }
    </script>
<script>
$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>
{% endblock %}